body {
  background-color: #2D232E;
}

.card {
  max-width: 450px;
  max-height: 320px;
}

.nav-p208 {
  background-color: #162133;
}

.nav-tm3lr {
  background-color: #E51837;
}

.nav-rc4 {
  background-color: #FFCC2E;
}
